RAG_CORPUS_DIR=pdfs
RAG_INDEX_PATH=.rag/index.json
RAG_CHUNK_SIZE_CHARS=1400
RAG_CHUNK_OVERLAP_CHARS=220
RAG_TOP_K=5
RAG_EMBEDDING_BACKEND=hash
RAG_GENERATION_BACKEND=extractive
RAG_OLLAMA_BASE_URL=http://localhost:11434
RAG_OLLAMA_EMBEDDING_MODEL=nomic-embed-text
RAG_OLLAMA_GENERATION_MODEL=llama3.1
RAG_TEMPERATURE=0.1
